a{
    text-decoration: none;
    float: right;
    position: relative;
    top: -1.8rem;
    right: -2rem;
}


.header{
    text-align: center;
    margin: 0;
    padding: 2rem;
    background-color: blue;
    color: whitesmoke;
    font-size: larger;
    margin-bottom: 0;
    border: solid 2px black;
}

.footer{
    margin: 0;
    padding: 1.5rem;
    background-color: blue;
    color: whitesmoke;
}

.container{
    width: 600px;
    margin: auto;
    border: solid 2px black;
    background-color: whitesmoke;
}

.days_container{
    width: 600px;
    margin: 100px auto;
}

button{
    display: grid;
    width: 150px;
    margin: 1.2rem auto;
    font-size: larger;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
    
}

button:hover{
    background-color: #ff80b4;
    color: black;
    border: 2px solid black;
    box-shadow: 0px 0px 32px -12px #ff80b4;
    cursor: pointer;
}
