<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Message</title>
    <link rel="stylesheet" href="../static/css/emergency.css">
</head>
<body>
    <form action="/contact" method="POST">
        <h4>Emergency Whatsapp Message</h4>
        <input type="text" name="name" id="name" placeholder="Enter Your Name Here">
        <input type="text" name="contact" id="contact" placeholder="Enter Contact Number With Country Code(+91)">

        <button type="submit">Send Message</button>
    </form>
</body>
</html>