<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <p>Kratin Exercise Routine</p>
        </div>

        <section class="days_container">
            <form action="/" method="POST"><input type="hidden" name="day" value=1><button type="submit">Monday</button></form>
            <form action="/" method="POST"><input type="hidden" name="day" value=2><button type="submit">Tuesday</button></form>
            <form action="/" method="POST"><input type="hidden" name="day" value=3><button type="submit">Wednesday</button></form>
            <form action="/" method="POST"><input type="hidden" name="day" value=4><button type="submit">Thursday</button></form>
            <form action="/" method="POST"><input type="hidden" name="day" value=5><button type="submit">Friday</button></form>
            <form action="/" method="POST"><input type="hidden" name="day" value=6><button type="submit">Saturday</button></form>
            <form action="/" method="POST"><input type="hidden" name="day" value=7><button type="submit">Sunday</button></form>
        </section>

        <div class="footer">
            <p>Take care of yourself, be healthy, and always be successful in anything you truly want</p>
        </div>
    </div>
</body>
</html>